/* border radius */
.border-radius-px-1 {
  border-radius: "1px";
}

.border-radius-px-2 {
  border-radius: "2px";
}

.border-radius-px-3 {
  border-radius: "3px";
}

.border-radius-px-4 {
  border-radius: "4px";
}

.border-radius-px-5 {
  border-radius: "5px";
}

.border-radius-px-6 {
  border-radius: "6px";
}

.border-radius-px-7 {
  border-radius: "7px";
}

.border-radius-px-8 {
  border-radius: "8px";
}

.border-radius-px-9 {
  border-radius: "9px";
}

/* padding */
.padding-rem-1 {
  padding: "0.25rem";
}

.padding-t-rem-1 {
  padding-top: "0.25rem";
}

.padding-r-rem-1 {
  padding-right: "0.25rem";
}

.padding-b-rem-1 {
  padding-bottom: "0.25rem";
}

.padding-l-rem-1 {
  padding-left: "0.25rem";
}

.padding-x-rem-1 {
  padding-left: "0.25rem";
  padding-right: "0.25rem";
}

.padding-y-rem-1 {
  padding-top: "0.25rem";
  padding-bottom: "0.25rem";
}

.padding-rem-2 {
  padding: "0.5rem";
}

.padding-t-rem-2 {
  padding-top: "0.5rem";
}

.padding-r-rem-2 {
  padding-right: "0.5rem";
}

.padding-b-rem-2 {
  padding-bottom: "0.5rem";
}

.padding-l-rem-2 {
  padding-left: "0.5rem";
}

.padding-x-rem-2 {
  padding-left: "0.5rem";
  padding-right: "0.5rem";
}

.padding-y-rem-2 {
  padding-top: "0.5rem";
  padding-bottom: "0.5rem";
}

.padding-rem-3 {
  padding: "0.75rem";
}

.padding-t-rem-3 {
  padding-top: "0.75rem";
}

.padding-r-rem-3 {
  padding-right: "0.75rem";
}

.padding-b-rem-3 {
  padding-bottom: "0.75rem";
}

.padding-l-rem-3 {
  padding-left: "0.75rem";
}

.padding-x-rem-3 {
  padding-left: "0.75rem";
  padding-right: "0.75rem";
}

.padding-y-rem-3 {
  padding-top: "0.75rem";
  padding-bottom: "0.75rem";
}

.padding-rem-4 {
  padding: "1rem";
}

.padding-t-rem-4 {
  padding-top: "1rem";
}

.padding-r-rem-4 {
  padding-right: "1rem";
}

.padding-b-rem-4 {
  padding-bottom: "1rem";
}

.padding-l-rem-4 {
  padding-left: "1rem";
}

.padding-x-rem-4 {
  padding-left: "1rem";
  padding-right: "1rem";
}

.padding-y-rem-4 {
  padding-top: "1rem";
  padding-bottom: "1rem";
}

.padding-rem-5 {
  padding: "1.25rem";
}

.padding-t-rem-5 {
  padding-top: "1.25rem";
}

.padding-r-rem-5 {
  padding-right: "1.25rem";
}

.padding-b-rem-5 {
  padding-bottom: "1.25rem";
}

.padding-l-rem-5 {
  padding-left: "1.25rem";
}

.padding-x-rem-5 {
  padding-left: "1.25rem";
  padding-right: "1.25rem";
}

.padding-y-rem-5 {
  padding-top: "1.25rem";
  padding-bottom: "1.25rem";
}

.padding-rem-6 {
  padding: "1.5rem";
}

.padding-t-rem-6 {
  padding-top: "1.5rem";
}

.padding-r-rem-6 {
  padding-right: "1.5rem";
}

.padding-b-rem-6 {
  padding-bottom: "1.5rem";
}

.padding-l-rem-6 {
  padding-left: "1.5rem";
}

.padding-x-rem-6 {
  padding-left: "1.5rem";
  padding-right: "1.5rem";
}

.padding-y-rem-6 {
  padding-top: "1.5rem";
  padding-bottom: "1.5rem";
}

.padding-rem-7 {
  padding: "1.75rem";
}

.padding-t-rem-7 {
  padding-top: "1.75rem";
}

.padding-r-rem-7 {
  padding-right: "1.75rem";
}

.padding-b-rem-7 {
  padding-bottom: "1.75rem";
}

.padding-l-rem-7 {
  padding-left: "1.75rem";
}

.padding-x-rem-7 {
  padding-left: "1.75rem";
  padding-right: "1.75rem";
}

.padding-y-rem-7 {
  padding-top: "1.75rem";
  padding-bottom: "1.75rem";
}

.padding-rem-8 {
  padding: "2rem";
}

.padding-t-rem-8 {
  padding-top: "2rem";
}

.padding-r-rem-8 {
  padding-right: "2rem";
}

.padding-b-rem-8 {
  padding-bottom: "2rem";
}

.padding-l-rem-8 {
  padding-left: "2rem";
}

.padding-x-rem-8 {
  padding-left: "2rem";
  padding-right: "2rem";
}

.padding-y-rem-8 {
  padding-top: "2rem";
  padding-bottom: "2rem";
}

.padding-rem-9 {
  padding: "2.25rem";
}

.padding-t-rem-9 {
  padding-top: "2.25rem";
}

.padding-r-rem-9 {
  padding-right: "2.25rem";
}

.padding-b-rem-9 {
  padding-bottom: "2.25rem";
}

.padding-l-rem-9 {
  padding-left: "2.25rem";
}

.padding-x-rem-9 {
  padding-left: "2.25rem";
  padding-right: "2.25rem";
}

.padding-y-rem-9 {
  padding-top: "2.25rem";
  padding-bottom: "2.25rem";
}

.padding-rem-10 {
  padding: "2.5rem";
}

.padding-t-rem-10 {
  padding-top: "2.5rem";
}

.padding-r-rem-10 {
  padding-right: "2.5rem";
}

.padding-b-rem-10 {
  padding-bottom: "2.5rem";
}

.padding-l-rem-10 {
  padding-left: "2.5rem";
}

.padding-x-rem-10 {
  padding-left: "2.5rem";
  padding-right: "2.5rem";
}

.padding-y-rem-10 {
  padding-top: "2.5rem";
  padding-bottom: "2.5rem";
}

.padding-rem-11 {
  padding: "2.75rem";
}

.padding-t-rem-11 {
  padding-top: "2.75rem";
}

.padding-r-rem-11 {
  padding-right: "2.75rem";
}

.padding-b-rem-11 {
  padding-bottom: "2.75rem";
}

.padding-l-rem-11 {
  padding-left: "2.75rem";
}

.padding-x-rem-11 {
  padding-left: "2.75rem";
  padding-right: "2.75rem";
}

.padding-y-rem-11 {
  padding-top: "2.75rem";
  padding-bottom: "2.75rem";
}

.padding-rem-12 {
  padding: "3rem";
}

.padding-t-rem-12 {
  padding-top: "3rem";
}

.padding-r-rem-12 {
  padding-right: "3rem";
}

.padding-b-rem-12 {
  padding-bottom: "3rem";
}

.padding-l-rem-12 {
  padding-left: "3rem";
}

.padding-x-rem-12 {
  padding-left: "3rem";
  padding-right: "3rem";
}

.padding-y-rem-12 {
  padding-top: "3rem";
  padding-bottom: "3rem";
}

.padding-rem-13 {
  padding: "3.25rem";
}

.padding-t-rem-13 {
  padding-top: "3.25rem";
}

.padding-r-rem-13 {
  padding-right: "3.25rem";
}

.padding-b-rem-13 {
  padding-bottom: "3.25rem";
}

.padding-l-rem-13 {
  padding-left: "3.25rem";
}

.padding-x-rem-13 {
  padding-left: "3.25rem";
  padding-right: "3.25rem";
}

.padding-y-rem-13 {
  padding-top: "3.25rem";
  padding-bottom: "3.25rem";
}

.padding-rem-14 {
  padding: "3.5rem";
}

.padding-t-rem-14 {
  padding-top: "3.5rem";
}

.padding-r-rem-14 {
  padding-right: "3.5rem";
}

.padding-b-rem-14 {
  padding-bottom: "3.5rem";
}

.padding-l-rem-14 {
  padding-left: "3.5rem";
}

.padding-x-rem-14 {
  padding-left: "3.5rem";
  padding-right: "3.5rem";
}

.padding-y-rem-14 {
  padding-top: "3.5rem";
  padding-bottom: "3.5rem";
}

.padding-rem-15 {
  padding: "3.75rem";
}

.padding-t-rem-15 {
  padding-top: "3.75rem";
}

.padding-r-rem-15 {
  padding-right: "3.75rem";
}

.padding-b-rem-15 {
  padding-bottom: "3.75rem";
}

.padding-l-rem-15 {
  padding-left: "3.75rem";
}

.padding-x-rem-15 {
  padding-left: "3.75rem";
  padding-right: "3.75rem";
}

.padding-y-rem-15 {
  padding-top: "3.75rem";
  padding-bottom: "3.75rem";
}

.padding-rem-16 {
  padding: "4rem";
}

.padding-t-rem-16 {
  padding-top: "4rem";
}

.padding-r-rem-16 {
  padding-right: "4rem";
}

.padding-b-rem-16 {
  padding-bottom: "4rem";
}

.padding-l-rem-16 {
  padding-left: "4rem";
}

.padding-x-rem-16 {
  padding-left: "4rem";
  padding-right: "4rem";
}

.padding-y-rem-16 {
  padding-top: "4rem";
  padding-bottom: "4rem";
}

.padding-rem-17 {
  padding: "4.25rem";
}

.padding-t-rem-17 {
  padding-top: "4.25rem";
}

.padding-r-rem-17 {
  padding-right: "4.25rem";
}

.padding-b-rem-17 {
  padding-bottom: "4.25rem";
}

.padding-l-rem-17 {
  padding-left: "4.25rem";
}

.padding-x-rem-17 {
  padding-left: "4.25rem";
  padding-right: "4.25rem";
}

.padding-y-rem-17 {
  padding-top: "4.25rem";
  padding-bottom: "4.25rem";
}

.padding-rem-18 {
  padding: "4.5rem";
}

.padding-t-rem-18 {
  padding-top: "4.5rem";
}

.padding-r-rem-18 {
  padding-right: "4.5rem";
}

.padding-b-rem-18 {
  padding-bottom: "4.5rem";
}

.padding-l-rem-18 {
  padding-left: "4.5rem";
}

.padding-x-rem-18 {
  padding-left: "4.5rem";
  padding-right: "4.5rem";
}

.padding-y-rem-18 {
  padding-top: "4.5rem";
  padding-bottom: "4.5rem";
}

.padding-rem-19 {
  padding: "4.75rem";
}

.padding-t-rem-19 {
  padding-top: "4.75rem";
}

.padding-r-rem-19 {
  padding-right: "4.75rem";
}

.padding-b-rem-19 {
  padding-bottom: "4.75rem";
}

.padding-l-rem-19 {
  padding-left: "4.75rem";
}

.padding-x-rem-19 {
  padding-left: "4.75rem";
  padding-right: "4.75rem";
}

.padding-y-rem-19 {
  padding-top: "4.75rem";
  padding-bottom: "4.75rem";
}

.padding-rem-20 {
  padding: "5rem";
}

.padding-t-rem-20 {
  padding-top: "5rem";
}

.padding-r-rem-20 {
  padding-right: "5rem";
}

.padding-b-rem-20 {
  padding-bottom: "5rem";
}

.padding-l-rem-20 {
  padding-left: "5rem";
}

.padding-x-rem-20 {
  padding-left: "5rem";
  padding-right: "5rem";
}

.padding-y-rem-20 {
  padding-top: "5rem";
  padding-bottom: "5rem";
}

.margin-rem-1 {
  margin: "0.25rem";
}

.margin-t-rem-1 {
  margin-top: "0.25rem";
}

.margin-r-rem-1 {
  margin-right: "0.25rem";
}

.margin-b-rem-1 {
  margin-bottom: "0.25rem";
}

.margin-l-rem-1 {
  margin-left: "0.25rem";
}

.margin-x-rem-1 {
  margin-left: "0.25rem";
  margin-right: "0.25rem";
}

.margin-y-rem-1 {
  margin-top: "0.25rem";
  margin-bottom: "0.25rem";
}

.margin-rem-2 {
  margin: "0.5rem";
}

.margin-t-rem-2 {
  margin-top: "0.5rem";
}

.margin-r-rem-2 {
  margin-right: "0.5rem";
}

.margin-b-rem-2 {
  margin-bottom: "0.5rem";
}

.margin-l-rem-2 {
  margin-left: "0.5rem";
}

.margin-x-rem-2 {
  margin-left: "0.5rem";
  margin-right: "0.5rem";
}

.margin-y-rem-2 {
  margin-top: "0.5rem";
  margin-bottom: "0.5rem";
}

.margin-rem-3 {
  margin: "0.75rem";
}

.margin-t-rem-3 {
  margin-top: "0.75rem";
}

.margin-r-rem-3 {
  margin-right: "0.75rem";
}

.margin-b-rem-3 {
  margin-bottom: "0.75rem";
}

.margin-l-rem-3 {
  margin-left: "0.75rem";
}

.margin-x-rem-3 {
  margin-left: "0.75rem";
  margin-right: "0.75rem";
}

.margin-y-rem-3 {
  margin-top: "0.75rem";
  margin-bottom: "0.75rem";
}

.margin-rem-4 {
  margin: "1rem";
}

.margin-t-rem-4 {
  margin-top: "1rem";
}

.margin-r-rem-4 {
  margin-right: "1rem";
}

.margin-b-rem-4 {
  margin-bottom: "1rem";
}

.margin-l-rem-4 {
  margin-left: "1rem";
}

.margin-x-rem-4 {
  margin-left: "1rem";
  margin-right: "1rem";
}

.margin-y-rem-4 {
  margin-top: "1rem";
  margin-bottom: "1rem";
}

.margin-rem-5 {
  margin: "1.25rem";
}

.margin-t-rem-5 {
  margin-top: "1.25rem";
}

.margin-r-rem-5 {
  margin-right: "1.25rem";
}

.margin-b-rem-5 {
  margin-bottom: "1.25rem";
}

.margin-l-rem-5 {
  margin-left: "1.25rem";
}

.margin-x-rem-5 {
  margin-left: "1.25rem";
  margin-right: "1.25rem";
}

.margin-y-rem-5 {
  margin-top: "1.25rem";
  margin-bottom: "1.25rem";
}

.margin-rem-6 {
  margin: "1.5rem";
}

.margin-t-rem-6 {
  margin-top: "1.5rem";
}

.margin-r-rem-6 {
  margin-right: "1.5rem";
}

.margin-b-rem-6 {
  margin-bottom: "1.5rem";
}

.margin-l-rem-6 {
  margin-left: "1.5rem";
}

.margin-x-rem-6 {
  margin-left: "1.5rem";
  margin-right: "1.5rem";
}

.margin-y-rem-6 {
  margin-top: "1.5rem";
  margin-bottom: "1.5rem";
}

.margin-rem-7 {
  margin: "1.75rem";
}

.margin-t-rem-7 {
  margin-top: "1.75rem";
}

.margin-r-rem-7 {
  margin-right: "1.75rem";
}

.margin-b-rem-7 {
  margin-bottom: "1.75rem";
}

.margin-l-rem-7 {
  margin-left: "1.75rem";
}

.margin-x-rem-7 {
  margin-left: "1.75rem";
  margin-right: "1.75rem";
}

.margin-y-rem-7 {
  margin-top: "1.75rem";
  margin-bottom: "1.75rem";
}

.margin-rem-8 {
  margin: "2rem";
}

.margin-t-rem-8 {
  margin-top: "2rem";
}

.margin-r-rem-8 {
  margin-right: "2rem";
}

.margin-b-rem-8 {
  margin-bottom: "2rem";
}

.margin-l-rem-8 {
  margin-left: "2rem";
}

.margin-x-rem-8 {
  margin-left: "2rem";
  margin-right: "2rem";
}

.margin-y-rem-8 {
  margin-top: "2rem";
  margin-bottom: "2rem";
}

.margin-rem-9 {
  margin: "2.25rem";
}

.margin-t-rem-9 {
  margin-top: "2.25rem";
}

.margin-r-rem-9 {
  margin-right: "2.25rem";
}

.margin-b-rem-9 {
  margin-bottom: "2.25rem";
}

.margin-l-rem-9 {
  margin-left: "2.25rem";
}

.margin-x-rem-9 {
  margin-left: "2.25rem";
  margin-right: "2.25rem";
}

.margin-y-rem-9 {
  margin-top: "2.25rem";
  margin-bottom: "2.25rem";
}

.margin-rem-10 {
  margin: "2.5rem";
}

.margin-t-rem-10 {
  margin-top: "2.5rem";
}

.margin-r-rem-10 {
  margin-right: "2.5rem";
}

.margin-b-rem-10 {
  margin-bottom: "2.5rem";
}

.margin-l-rem-10 {
  margin-left: "2.5rem";
}

.margin-x-rem-10 {
  margin-left: "2.5rem";
  margin-right: "2.5rem";
}

.margin-y-rem-10 {
  margin-top: "2.5rem";
  margin-bottom: "2.5rem";
}

.margin-rem-11 {
  margin: "2.75rem";
}

.margin-t-rem-11 {
  margin-top: "2.75rem";
}

.margin-r-rem-11 {
  margin-right: "2.75rem";
}

.margin-b-rem-11 {
  margin-bottom: "2.75rem";
}

.margin-l-rem-11 {
  margin-left: "2.75rem";
}

.margin-x-rem-11 {
  margin-left: "2.75rem";
  margin-right: "2.75rem";
}

.margin-y-rem-11 {
  margin-top: "2.75rem";
  margin-bottom: "2.75rem";
}

.margin-rem-12 {
  margin: "3rem";
}

.margin-t-rem-12 {
  margin-top: "3rem";
}

.margin-r-rem-12 {
  margin-right: "3rem";
}

.margin-b-rem-12 {
  margin-bottom: "3rem";
}

.margin-l-rem-12 {
  margin-left: "3rem";
}

.margin-x-rem-12 {
  margin-left: "3rem";
  margin-right: "3rem";
}

.margin-y-rem-12 {
  margin-top: "3rem";
  margin-bottom: "3rem";
}

.margin-rem-13 {
  margin: "3.25rem";
}

.margin-t-rem-13 {
  margin-top: "3.25rem";
}

.margin-r-rem-13 {
  margin-right: "3.25rem";
}

.margin-b-rem-13 {
  margin-bottom: "3.25rem";
}

.margin-l-rem-13 {
  margin-left: "3.25rem";
}

.margin-x-rem-13 {
  margin-left: "3.25rem";
  margin-right: "3.25rem";
}

.margin-y-rem-13 {
  margin-top: "3.25rem";
  margin-bottom: "3.25rem";
}

.margin-rem-14 {
  margin: "3.5rem";
}

.margin-t-rem-14 {
  margin-top: "3.5rem";
}

.margin-r-rem-14 {
  margin-right: "3.5rem";
}

.margin-b-rem-14 {
  margin-bottom: "3.5rem";
}

.margin-l-rem-14 {
  margin-left: "3.5rem";
}

.margin-x-rem-14 {
  margin-left: "3.5rem";
  margin-right: "3.5rem";
}

.margin-y-rem-14 {
  margin-top: "3.5rem";
  margin-bottom: "3.5rem";
}

.margin-rem-15 {
  margin: "3.75rem";
}

.margin-t-rem-15 {
  margin-top: "3.75rem";
}

.margin-r-rem-15 {
  margin-right: "3.75rem";
}

.margin-b-rem-15 {
  margin-bottom: "3.75rem";
}

.margin-l-rem-15 {
  margin-left: "3.75rem";
}

.margin-x-rem-15 {
  margin-left: "3.75rem";
  margin-right: "3.75rem";
}

.margin-y-rem-15 {
  margin-top: "3.75rem";
  margin-bottom: "3.75rem";
}

.margin-rem-16 {
  margin: "4rem";
}

.margin-t-rem-16 {
  margin-top: "4rem";
}

.margin-r-rem-16 {
  margin-right: "4rem";
}

.margin-b-rem-16 {
  margin-bottom: "4rem";
}

.margin-l-rem-16 {
  margin-left: "4rem";
}

.margin-x-rem-16 {
  margin-left: "4rem";
  margin-right: "4rem";
}

.margin-y-rem-16 {
  margin-top: "4rem";
  margin-bottom: "4rem";
}

.margin-rem-17 {
  margin: "4.25rem";
}

.margin-t-rem-17 {
  margin-top: "4.25rem";
}

.margin-r-rem-17 {
  margin-right: "4.25rem";
}

.margin-b-rem-17 {
  margin-bottom: "4.25rem";
}

.margin-l-rem-17 {
  margin-left: "4.25rem";
}

.margin-x-rem-17 {
  margin-left: "4.25rem";
  margin-right: "4.25rem";
}

.margin-y-rem-17 {
  margin-top: "4.25rem";
  margin-bottom: "4.25rem";
}

.margin-rem-18 {
  margin: "4.5rem";
}

.margin-t-rem-18 {
  margin-top: "4.5rem";
}

.margin-r-rem-18 {
  margin-right: "4.5rem";
}

.margin-b-rem-18 {
  margin-bottom: "4.5rem";
}

.margin-l-rem-18 {
  margin-left: "4.5rem";
}

.margin-x-rem-18 {
  margin-left: "4.5rem";
  margin-right: "4.5rem";
}

.margin-y-rem-18 {
  margin-top: "4.5rem";
  margin-bottom: "4.5rem";
}

.margin-rem-19 {
  margin: "4.75rem";
}

.margin-t-rem-19 {
  margin-top: "4.75rem";
}

.margin-r-rem-19 {
  margin-right: "4.75rem";
}

.margin-b-rem-19 {
  margin-bottom: "4.75rem";
}

.margin-l-rem-19 {
  margin-left: "4.75rem";
}

.margin-x-rem-19 {
  margin-left: "4.75rem";
  margin-right: "4.75rem";
}

.margin-y-rem-19 {
  margin-top: "4.75rem";
  margin-bottom: "4.75rem";
}

.margin-rem-20 {
  margin: "5rem";
}

.margin-t-rem-20 {
  margin-top: "5rem";
}

.margin-r-rem-20 {
  margin-right: "5rem";
}

.margin-b-rem-20 {
  margin-bottom: "5rem";
}

.margin-l-rem-20 {
  margin-left: "5rem";
}

.margin-x-rem-20 {
  margin-left: "5rem";
  margin-right: "5rem";
}

.margin-y-rem-20 {
  margin-top: "5rem";
  margin-bottom: "5rem";
}

.font-size-px-10 {
  font-size: "10px";
}

.font-size-px-11 {
  font-size: "11px";
}

.font-size-px-12 {
  font-size: "12px";
}

.font-size-px-13 {
  font-size: "13px";
}

.font-size-px-14 {
  font-size: "14px";
}

.font-size-px-15 {
  font-size: "15px";
}

.font-size-px-16 {
  font-size: "16px";
}

.font-size-px-17 {
  font-size: "17px";
}

.font-size-px-18 {
  font-size: "18px";
}

.font-size-px-19 {
  font-size: "19px";
}

.font-size-px-20 {
  font-size: "20px";
}

.font-size-px-21 {
  font-size: "21px";
}

.font-size-px-22 {
  font-size: "22px";
}

.font-size-px-23 {
  font-size: "23px";
}

.font-size-px-24 {
  font-size: "24px";
}

.font-size-px-25 {
  font-size: "25px";
}

.font-size-px-26 {
  font-size: "26px";
}

.font-size-px-27 {
  font-size: "27px";
}

.font-size-px-28 {
  font-size: "28px";
}

.font-size-px-29 {
  font-size: "29px";
}

.font-size-px-30 {
  font-size: "30px";
}

.font-size-px-31 {
  font-size: "31px";
}

.font-size-px-32 {
  font-size: "32px";
}

.font-size-px-33 {
  font-size: "33px";
}

.font-size-px-34 {
  font-size: "34px";
}

.font-size-px-35 {
  font-size: "35px";
}

.font-size-px-36 {
  font-size: "36px";
}

.font-size-px-37 {
  font-size: "37px";
}

.font-size-px-38 {
  font-size: "38px";
}

.font-size-px-39 {
  font-size: "39px";
}

.font-size-px-40 {
  font-size: "40px";
}

.font-size-px-41 {
  font-size: "41px";
}

.font-size-px-42 {
  font-size: "42px";
}

.font-size-px-43 {
  font-size: "43px";
}

.font-size-px-44 {
  font-size: "44px";
}

.font-size-px-45 {
  font-size: "45px";
}

.font-size-px-46 {
  font-size: "46px";
}

.font-size-px-47 {
  font-size: "47px";
}

.font-size-px-48 {
  font-size: "48px";
}

.font-size-px-49 {
  font-size: "49px";
}/*# sourceMappingURL=utilities.css.map */